@model DataSense_UI.Models.ViewModels.AuthenticateViewModel

@{
    ViewBag.Title = "Reset Password";
}
@section documentHeadAdditions {
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}
@using (Html.BeginForm("ResetPassword", "Authenticate", FormMethod.Post, new { @class = "container-fluid h-100 first_screen", role = "form" }))
{
    <div class="ccccontainer-fluid h-100 first_screen">
        <div class="row h-100">
            <div class="col-lg-6 lt_container">
                <h1 class="main_logo"> <img src="~/images/logo.svg"> <span class="powerdby"> Datasense powered by Avexta </span> </h1>
                <div class="middle_main">
                    <div class="middle_ware">
                        <span>
                            Middle Ware <br>
                            for Enterprise
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 rt_container  align-self-center">
                <div class="w-75 mx-auto login_form">
                    <div class="form-group">
                        <div class="form_h4 error">
                            @if (Model != null)
                            {
                                if (Model.ErrorMessage != null)
                                {
                                    @Model.ErrorMessage
                                }
                            }
                        </div>
                        <h4 class="form_h4"> Reset Password</h4>
                        <!--<input type="email" class="form-control" id="email" placeholder="username">-->
                        <input type="email" value="@Model.objResetPassword.emailAddress" class = "form-control" disabled placeholder="Email Address" />
                        @Html.HiddenFor(m => m.objResetPassword.emailAddress)
                        @Html.HiddenFor(m => m.objResetPassword.resetCode)
                    </div>
                    <div class="form-group">
                        <!--<input type="password" class="form-control" id="pwd" placeholder="password">-->
                        @Html.PasswordFor(m => m.objResetPassword.newPassWord, new { @class = "form-control", maxlength = "100", required = "required", autocomplete = "current-password", autocapitalize = "none", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.objResetPassword.newPassWord, "", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        <!--<input type="password" class="form-control" id="pwd" placeholder="password">-->
                        @Html.PasswordFor(m => m.objResetPassword.confirmNewPassWord, new { @class = "form-control", maxlength = "100", required = "required", autocomplete = "current-password", autocapitalize = "none", placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.objResetPassword.confirmNewPassWord, "", new { @class = "error" })
                    </div>
                    <div class="form-check">
                        <a href="/Authenticate/Index" title="Login" class="forgt_p">Login</a>
                    </div>
                    <button type="submit" class="btn login_btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
}