@model DataSense_UI.Models.ViewModels.MachinesNotificationsViewModel

<div class="container-fluid h-100 main_app">
    <div class="row">
        @Html.Partial("~/Views/Shared/LeftMenupanel.cshtml")
        <div class="col-lg-10 rt_main">
            <div class="heading_top">
                <ul class="pagination_ul">
                    <li> <a href="/DataSet" title="Data Sets">Data Sets</a> / </li>
                    <li> <a href="/DataSetIndex/Index?id=@ViewBag.dataSetId" title="View Indexes"> @Model.DataSetName </a> / </li>
                    <li> View Emails </li>
                </ul>
            </div>
            <div class="twitter_data_hd">
                <h2 class="heading_in"> View Emails</h2>
                <div class="add_data">
                    <a class="add_data_btn" href="@Url.Content("/MachineNotification/Add?credId="+Request.QueryString["credId"]+ "&dataSetIndexId="+ViewBag.dataSetIndexId+"&dataSetId="+ ViewBag.dataSetId)" style="text-decoration:none;">
                        <span>+</span> Add Email Recipient
                    </a>
                </div>
            </div>
            <div class="index_list">
                <div class="row index_list_headimng">
                    <div class="col-2 index_col">Email Recipient</div>
                    <div class="actions"> Actions </div>
                </div>
                @foreach (DataSense_UI.Models.DTO.MachineNotificationView ds in Model.machineNotificationView)
                {
                    <div class="common_list">
                        <div class="col-2 index_col"><a href="#">@ds.emailTo</a></div>
                        <div class="actions">
                            <a href="@Url.Content("/MachineNotification/Edit?id="+ ds.id+"&credId="+Request.QueryString["credId"]+ "&dataSetIndexId="+ViewBag.dataSetIndexId+"&dataSetId="+ ViewBag.dataSetId)" title="edit" class="edit_a"><img src="/images/edit.svg"></a>
                            <a href="@Url.Content("/MachineNotification/Delete?id="+ ds.id+"&credId="+Request.QueryString["credId"]+ "&dataSetIndexId="+ViewBag.dataSetIndexId+"&dataSetId="+ ViewBag.dataSetId)" title="delete" class="delete_a"><img src="/images/trash.svg"></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>